<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rhumeriedechamarel.com/wp-content/uploads/2015/10/SPECIALS_banner.jpg);">
  <div class='title'>
      <h1>Cocktails</h1>
      <p><em>Create or Choose your favorite</em></p>
  </div>
  <div class="button_banner">
    <%= link_to "Enter", cocktails_path, data: { confirm: "Over 18?" }, class: "button_banner_custom" %>
  </div>
</div>
