<h1>All the cocktails</h1>

<div>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <% end %>
</div>
<br>
<div>
  <%= link_to "Create a cocktail", new_cocktail_path %>
</div>
