<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rhumeriedechamarel.com/wp-content/uploads/2015/10/SPECIALS_banner.jpg);">
  <div class="container">
    <h1><strong>Cocktails</strong></h1>
    <p><em>Create a cocktail or Choose your favorite</em></p>
  </div>
</div>

<div class="button">
    <%= link_to "Create a cocktail", new_cocktail_path, style: 'text-decoration: none' %>
</div>

<div class="card">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category">
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 285 , crop: :fill %>
      <%= link_to cocktail.name, cocktail_path(cocktail), style: 'text-decoration: none' %>
    </div>
  <% end %>
</div>
