<h1>Add a name</h1>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
